<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body class="h-full grid place-items-center bg-slate-800">
    
    <main id="app">
        <div class="shadow-xl px-8 py-10 bg-slate-100 rounded-lg">

            <h2 class="text-2xl font-bold my-3">All Skils</h2>
            <ul>
                <li class="py-2 px-3 mb-2 bg-cyan-900 rounded-md text-gray-200 font-medium" v-for="skil in skils" :key="skil[1]">
                    <span class="py-1 px-4 mr-2">{{ skil.name }}</span>
                    <span v-if="skil.level < 3">Beginner</span>
                    <span v-else-if="skil.level < 5">Intermediet</span>
                    <span v-else>Advance</span>
                </li>
            </ul>
        </div>
    </main>
    <script>
        Vue.createApp({
            data() {
                return {
                    skils: [
                        {name: 'HTML', level: 1},
                        {name: 'CSS', level: 2},
                        {name: 'JavaScript', level: 3},
                        {name: 'Vue JS', level: 4},
                        {name: 'PHP', level: 5},
                        {name: 'Laravel', level: 6}
                    ],
                }
            }
          
        }).mount('#app')
    </script>
</body>
</html>